.game {
    height: 375px;
    width: 200;
    border: 1px solid black;
    margin: auto;
  }
  #tiger {
    width: 75px;
    height: 75px;
    background-image: url("tiger.gif");
    background-size: 75px 75px;
    position: relative;
    top: 300px;
    animation: jump 0.3s linear;
  }
  #human {
    width: 75px;
    height: 75px;
    background-image: url("human.gif");
    background-size: 75px 75px;
    position: relative;
    top: 225px;
    left: 90px;
  }
  
  .jump {
    animation: jump 0.3s linear;
  }
  
  @keyframes jump {
    0% {
      top: 175;
    }
  
    30% {
      top: 155px;
    }
  
    50% {
      top: 105px;
    }
  
    80% {
      top: 155px;
    }
  
    100% {
      top: 175px;
    }
  }
  
  #landmine {
    width: 20px;
    height: 40px;
    position: relative;
    top: 175px;
    left: 580px;
  
    background-image: url("landmine.jpg  ");
    background-size: 20px 40px;
  
    animation: block 0.75s infinite linear;
  }
  
  @keyframes block {
    0% {
      left: 580px;
    }
  
    100% {
      left: -500px;
    }
  }